In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import json

In [2]:
with open("ads_viewed0.json") as j:
    ads0 = json.load(j)

In [3]:
with open("ads_viewed1.json") as j:
    ads1 = json.load(j)

In [4]:
with open("ads_viewed2.json") as j:
    ads2 = json.load(j)

In [5]:
with open("ads_viewed3.json") as j:
    ads3 = json.load(j)

In [6]:
with open("ads_viewed4.json") as j:
    ads4 = json.load(j)

In [7]:
with open("ads_viewed5.json") as j:
    ads5 = json.load(j)

In [8]:
df_ads0 = pd.DataFrame(ads0)
df_ads0[60:65]

                         impressions_history_ads_seen
60  {'string_map_data': {'Author': {'value': 'turb...
61  {'string_map_data': {'Time': {'timestamp': 171...
62  {'string_map_data': {'Author': {'value': 'gard...
63  {'string_map_data': {'Author': {'value': 'mail...
64  {'string_map_data': {'Author': {'value': 'play...

In [9]:
df_ads0.keys()

Index(['impressions_history_ads_seen'], dtype='object')

In [10]:
df_ads0['impressions_history_ads_seen'][0]['string_map_data']['Author']['value']

'dunkin'

In [11]:
temp_list = []
for x in df_ads0['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [12]:
df_1 = pd.DataFrame({"advertiser": temp_list})
df_1.head()

        advertiser
0           dunkin
1  playhousesquare
2       carecredit
3       carecredit
4        cleveorch

In [13]:
age_list = [24 for x in df_1['advertiser']]

In [14]:
gender_list = ['Male' for x in df_1['advertiser']]

In [15]:
sexu_list = ['Gay' for x in df_1['advertiser']]

In [16]:
user_list = [0 for x in df_1['advertiser']]

In [17]:
df_1['Age'] = age_list
df_1['Gender'] = gender_list
df_1['Sexuality'] = sexu_list
df_1['User'] = user_list
df_1.tail()

          advertiser  Age Gender Sexuality  User
316   huntingtonbank   24   Male       Gay     0
317             sofi   24   Male       Gay     0
318          behrpro   24   Male       Gay     0
319  playhousesquare   24   Male       Gay     0
320      progressive   24   Male       Gay     0

In [18]:
df_ads1 = pd.DataFrame(ads1)
temp_list = []
for x in df_ads1['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [19]:
df_0 = pd.DataFrame({"advertiser": temp_list})
age_list = [22 for x in df_0['advertiser']]
gender_list = ['Male' for x in df_0['advertiser']]
sexu_list = ['Bisexual' for x in df_0['advertiser']]
user_list = [1 for x in df_0['advertiser']]
df_0['Age'] = age_list
df_0['Gender'] = gender_list
df_0['Sexuality'] = sexu_list
df_0['User'] = user_list
df_0.tail()

            advertiser  Age Gender Sexuality  User
57         kittenfy_co   22   Male  Bisexual     1
58         codewallets   22   Male  Bisexual     1
59     thefallguymovie   22   Male  Bisexual     1
60        fableticsmen   22   Male  Bisexual     1
61  angela_fashionsis_   22   Male  Bisexual     1

In [20]:
df_ads2 = pd.DataFrame(ads2)
temp_list = []
for x in df_ads2['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [21]:
df_2 = pd.DataFrame({"advertiser": temp_list})
age_list = [21 for x in df_2['advertiser']]
gender_list = ['Male' for x in df_2['advertiser']]
sexu_list = ['Bisexual' for x in df_2['advertiser']]
user_list = [2 for x in df_2['advertiser']]
df_2['Age'] = age_list
df_2['Gender'] = gender_list
df_2['Sexuality'] = sexu_list
df_2['User'] = user_list
df_2.tail()

          advertiser  Age Gender Sexuality  User
91   dreamclothinghq   21   Male  Bisexual     2
92          killcrew   21   Male  Bisexual     2
93    caramelsdotcom   21   Male  Bisexual     2
94        betterhelp   21   Male  Bisexual     2
95  happinessproject   21   Male  Bisexual     2

In [22]:
df_ads3 = pd.DataFrame(ads3)
temp_list = []
for x in df_ads3['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [23]:
df_3 = pd.DataFrame({"advertiser": temp_list})
age_list = [23 for x in df_3['advertiser']]
gender_list = ['Male' for x in df_3['advertiser']]
sexu_list = ['Gay' for x in df_3['advertiser']]
user_list = [3 for x in df_3['advertiser']]
df_3['Age'] = age_list
df_3['Gender'] = gender_list
df_3['Sexuality'] = sexu_list
df_3['User'] = user_list
df_3.tail()

             advertiser  Age Gender Sexuality  User
33    bottomsupmovement   23   Male       Gay     3
34         joydiia.rave   23   Male       Gay     3
35              343labs   23   Male       Gay     3
36  stylishvibes_stella   23   Male       Gay     3
37      animatecolumbus   23   Male       Gay     3

In [24]:
df_ads4 = pd.DataFrame(ads4)
temp_list = []
for x in df_ads4['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [25]:
df_4 = pd.DataFrame({"advertiser": temp_list})
age_list = [25 for x in df_4['advertiser']]
gender_list = ['Male' for x in df_4['advertiser']]
sexu_list = ['Straight' for x in df_4['advertiser']]
user_list = [4 for x in df_4['advertiser']]
df_4['Age'] = age_list
df_4['Gender'] = gender_list
df_4['Sexuality'] = sexu_list
df_4['User'] = user_list
df_4.tail()

          advertiser  Age Gender Sexuality  User
61          aswemove   25   Male  Straight     4
62           trynood   25   Male  Straight     4
63          pearljam   25   Male  Straight     4
64            dexcom   25   Male  Straight     4
65  snapfitnesskent1   25   Male  Straight     4

In [26]:
df_ads5 = pd.DataFrame(ads5)
temp_list = []
for x in df_ads5['impressions_history_ads_seen']:
  try:
    value = x['string_map_data']['Author']['value']
    temp_list.append(value)
  except (KeyError, TypeError):
    pass

In [27]:
df_5 = pd.DataFrame({"advertiser": temp_list})
age_list = [24 for x in df_5['advertiser']]
gender_list = ['Female' for x in df_5['advertiser']]
sexu_list = ['Straight' for x in df_5['advertiser']]
user_list = [5 for x in df_5['advertiser']]
df_5['Age'] = age_list
df_5['Gender'] = gender_list
df_5['Sexuality'] = sexu_list
df_5['User'] = user_list
df_5.tail()

               advertiser  Age  Gender Sexuality  User
82          lightslacquer   24  Female  Straight     5
83         gourmandbeauty   24  Female  Straight     5
84         gourmandbeauty   24  Female  Straight     5
85  shipyardgamesofficial   24  Female  Straight     5
86             nonosesinc   24  Female  Straight     5

In [29]:
ads_viewed = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5], ignore_index=True, sort=False)
ads_viewed.head()

           advertiser  Age Gender Sexuality  User
0       northernroyal   22   Male  Bisexual     1
1  pirategoldpokerusa   22   Male  Bisexual     1
2            turbotax   22   Male  Bisexual     1
3        davidoutwear   22   Male  Bisexual     1
4          goods.guru   22   Male  Bisexual     1

In [33]:
ads_test = ads_viewed.groupby('advertiser').User.nunique()

In [37]:
type(ads_test)

pandas.core.series.Series

In [38]:
ads_test2 = ads_test.sort_values(ascending = False)
ads_test2.head()

advertiser
turbotax            3
fableticsmen        2
converse            2
kittenfy_co         2
americanspikedco    2
Name: User, dtype: int64